
<!-- Copyright (C) 2020-2021 LEIDOS.
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->

<launch>
 <arg name="file_name"/>	
 <arg name="broadcast_earth_frame" default="false"
  doc="If true this node will attempt to compute a homogenious transformation matrix between earth and the map frame origin. 
       NOTE: Not all projections can be linearly described in this way and such a transformation may be inaccurate."/>

 <node pkg="map_file" type="map_param_loader" name="map_param_loader">  
  <param name = "file_name" value = "$(arg file_name)"/>
  <param name = "broadcast_earth_frame" value = "$(arg broadcast_earth_frame)"/>
 </node>
</launch>